.gallery-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 104px);
  background-color: #3498db;
  color: white;
  font-size: 2rem;
} 

.container {
  margin: auto;
  border: #fff solid 6px;
  background: #fff;
}

/* mak images fill their container*/
img {
  max-width: 100%;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* CSS Grid*/
.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 6px;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

